@font-face {
    font-family: Varella;
    src: url('../assets/fonts/Varela-Regular.ttf');
    font-weight: bold;
}

html {
    height: 100%;
}


body {
    /* background: linear-gradient(to bottom right, #3440B8, #05B8F8);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    width: 100%;
    margin: 0px;

    height: 100%;
    font-family: Varella
}

#content {
    /* margin: auto;
    width: 80%;
    border-radius: 60px;
    padding: 20px 40px;
    background-color: white;
    display: flex;
    flex-direction: row; */
    margin: 100px 200px;

}

.header {
    display: flex;
    justify-content: space-around;
}

.header-left {
    position: relative;
    min-height: 600px;
    width: 100%;
}

.header-left-content {
    position: absolute;
    bottom: 0px;
}

.company-name {
    color: #2E75B5;
    line-height: 3em;
    font-size: 80px;
}

.company-subtitle span {
    color: #2E75B5;
}

.header-right img {
    height: 600px;
}

.divider {
    width: 100%;
    height: 4px;
    background-color: black;
    margin: 40px 0px;
}

.company-profile-title-container {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 20px;
}

.section h2 {
    color: #2E75B5;
    line-height: 3em;
}

.section p {
    line-height: 2em;
}

.about-us {
    display: flex;
    justify-content: flex-start;
}

.about-us-left {
    margin-right: 80px;
}

@media only screen and (max-width: 600px) {


    /* ul#navbar {
        width: 100vh;
    } */

    #content {
        margin: 0px 0px;
        padding: 0px 10px;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .header-left {}

    .header-left-content {
        position: absolute;
        bottom: 0px;
    }

    .header-right {}

    .about-us {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2em;
    }
    .company-name {
        color: #2E75B5;
        line-height: 3em;
        font-size: 2em;
    }

    .header-right img {
        width: 100%;
    }

}